@import '../../../../styles/mixins.scss';

:host {
    @include flex-column-center;

    width: 100%;
    height: inherit;
    margin-top: 100px;

    .title {
        @include flex-centered;
        
        font-size: larger;
        align-self: center;
    }
}