$grey: rgb(230, 230, 230);
$white: white;
$whitegrey: whitesmoke;
$whiterose:  rgb(250, 220, 220);
$whiteroselight:  rgb(250, 235, 235);
$darkgrey: darkgrey;
$lightblack: #45281d;
$warn:#4190c4;
$primary50: #e9e5e4;
$primary100: #c7bfbb;
$primary200:#a2948e;
$primary500: #45281d;