<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        div {
            margin: 20% 20%;
        }
        td {
            border: 1px dotted black;
            padding: 10px;
            text-align:center;
        }
    </style>
</head>
<body>
<div th:unless="${event == null}">
    <h3>EVENT INFO:</h3>
    <table>
        <thead>
        <tr>
            <th>EVENT ID</th>
            <th>TITLE</th>
            <th>DATE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${event.getId()}">1</td>
            <td th:text="${event.getTitle()}">AAA</td>
            <td th:text="${event.getDate()}">2020-01-01 20:00</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>